extends layout.pug

block content
  main.content
    h1.form-title Create task form

    if error
      p.error Invalid Data!

    if success
      p.success Task Successfully Created! 

    form.form(method='POST' action='/create')
      label Title
      input.input(type='text' name='title')

      label Description
      textarea.input(rows='10' cols='8' name='description')

      button.btn.btn-warning Create new task
