doctype html
html
  head
    title Tasks
    link(href='/static/main.css' rel='stylesheet')
 
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;700&display=swap' rel='stylesheet') 
  body
    header.header
      h1.logo
        a(href='/') Tasks

      nav.nav
        a(href='/tasks') tasks
        a(href='/archive') archive

    block content