:root {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #444
}

.content,
.header {
	max-width: 1000px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #ccc;
}

.logo {
	padding-left: 20px;
	font-size: 4rem;
}

.logo > a:hover {
	color: tomato;
}

.nav > a {
	display: inline-block;
	padding: 5px 15px;
	font-size: 1.5rem;
	font-variant-caps: small-caps;
}


.nav > a:hover {
	color: tomato;
}

/* homepage styles */

.content-title {
	margin-top: 150px;
	padding: 20px 0 0 20px;
	font-size: 3.5rem;
}

.featured {
	display: inline-block;
	margin: 15px 0 0 20px;
	padding: 10px 20px;
	background-color: tomato;
	color: #fff;
	font-size: 1.4rem;
}

/* create page styles */
.form {
	max-width: 50%;
	padding: 20px;
}

.form-title {
	padding: 20px 0 0 20px;
}

.form > label {
	display: block;
	font-size: 1.3rem;
	margin: 15px 0 5px 0;
}

.input {
	width: 100%;
	padding: 10px;
	border: 1px solid lightgrey;
	font-size: 1.3rem;
}

.btn {
	display: inline-block;
	background: tomato;
	margin-top: 15px;
	font-size: 1.3rem;
	padding: 10px 20px;
	border: none;
	color: #fff;
	font-family: inherit;
}

.btn:hover {
	color: #fff;
}